<div id="home">
    <h2 highlight="gold">Utilisateurs du site</h2>
    <table class="users" ng-if="vm.users">
        <thead>
        <th>ID</th>
        <th>Nom prénom</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Telephone</th>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users" ng-click="vm.details(user)">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
        </tbody>
    </table>
</div>