#home table {
    padding: 10px;
}
#home table thead th,
#home table tr td {
    padding: 10px 10px 5px 5px;
}

#home table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

#home table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
